/*----------------------------------------*/
/*  Button CSS START
/*----------------------------------------*/


.cus-btn {
  border: none;
  align-items: center;
  gap: $gap-12;
  display: inline-flex;
  font-size: clamp(12px, 0.833vw, 32px);
  text-transform: uppercase;
  border-radius: $br-16;
  font-family: $font-sec;
  padding: clamp(14px, 0.964vw, 32px) clamp(16px, 1.667vw, 64px);
  font-weight: 600;
  color: $white;
  cursor: pointer;
  position: relative;
  background-color: $accent-1;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;

}

.cus-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-1;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.cus-btn:hover::before {
  transform: translateX(0);
  background-color: $dark-black;
  color: $white;
}


.cus-btn-2{
  border: 1px solid $medium-black;
  align-items: center;
  gap: $gap-12;
  display: inline-flex;
  font-size: clamp(12px, 0.833vw, 32px);
  text-transform: uppercase;
  border-radius: $br-16;
  font-family: $font-sec;
  padding: clamp(14px, 0.964vw, 32px) clamp(16px, 1.667vw, 64px);
  font-weight: 600;
  color: $medium-black;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.cus-btn-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-1;
  color: $white;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.cus-btn-2:hover::before {
  transform: translateX(0);
  background-color: $accent-1;
  color: $white;
}


.cus-btn-3 {
	position: relative;
	overflow: hidden;
  text-transform: uppercase;
	border: 1px solid $accent-1;
	color: $white;
	display: inline-flex;
  justify-content: center;
	font-size: clamp(14px, 0.938vw, 22px);
  font-family: $font-sec;
  font-weight: 500;
  border-radius: $br-16;
  line-height: 120%; /* 21.6px */
	padding: clamp(10px, 0.885vw, 24px) clamp(20px, 1.667vw, 48px);
	text-decoration: none;
  border-radius: $br-32;
	cursor: pointer;
	background: $accent-1;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	span {
		&:first-child {
			position: relative;
			transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
			z-index: 10;
		}
		&:last-child {
			color: $accent-1;
			display: block;
			position: absolute;
			bottom: 0;
			transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
			z-index: 100;
			opacity: 0;
			top: 50%;
			left: 50%;
			transform: translateY(225%) translateX(-50%);
			height: 14px;
			line-height: 13px;
      width: 100%;
      text-align: center;
		}
	}
	&:after {
		content: "f061";
		position: absolute;
		bottom: -50%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $accent-2;
    border: 0;
		transform-origin: bottom center;
		transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
		transform: skewY(9.3deg) scaleY(0);
		z-index: 50;
    
	}
	&:hover {
    border: 1px solid $accent-1;
		&:after {
			transform-origin: bottom center;
			transform: skewY(6.3deg) scaleY(2);
		}
		span {
			&:last-child {
				transform: translateX(-50%) translateY(-50%);
				opacity: 1;
				transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
			}
		}
	}
}
.cus-arrow-btn{
  display: flex;
  align-items: center;
  gap: $gap-8;
  color: $white;
  transition: $transition;
  svg{
    path{
      transition: $transition;
    }
  }
  &:hover{
    transition: 0.2s ease-in-out;
    color: $white;
    gap: $gap-12;
    svg{
      path{
        fill: $accent-1;
        transition: $transition;
      }
    }
  }
}

/*----------------------------------------*/
/* scroll to top
/*----------------------------------------*/
.scrollToTopBtn{
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: $dark-black;
  color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  font-size: 19px;
  transition: $transition;
  width: 48px;
  height: 48px;
  display: grid;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $dark-black;
    transition: $transition;
    background-color: $accent-1;
  }
}



// SLIDER ARROWS
.slider-arrows {
  display: flex;
  align-items: center;
  gap: $gap-16;

  .arrow-btn {
    width: clamp(32px, 2.5vw, 64px);
    height: clamp(32px, 2.5vw, 64px);
    border-radius: $br-4;
    display: grid;
    align-items: center;
    justify-content: center;
    background: $light-white;
    transition: $transition;
    border: 1px solid $lightest-gray;

    svg {
      width: clamp(24px, 1.667vw, 64px);
      height: clamp(25px, 1.719vw, 64px);
      transition: $transition;
      path{
        stroke: $dark-black;
        transition: $transition;
      }
    }

    &:hover {
      transition: $transition;
      background-color: $accent-1;
      path{
        stroke: $white;
        transition: $transition;
      }
    }
  }
}

// SOCIAL ICONS
.social-icons {
  display: flex;
  align-items: center;
  gap: clamp(8px, 0.625vw, 20px);
  @include media-query(490px){
    gap: 16px;
  }

  &.icon-v2{
    gap: $gap-20;
  }

  li {
    a {
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: $transition;

      svg {
        width: clamp(20px, 1.25vw, 48px);
        height: clamp(20px, 1.25vw, 48px);
        path{
          transition: $transition;
        }
      }

      &:hover {
        svg {
          path{
            fill: $accent-2;
            transition: $transition;
          }
        }
      }
    }
  }
}

// ===================  PAGINATIONS =================== // 
.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  display: flex;

  #border-pagination {
    display: flex;
    gap: 6px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      span {
        color: $dark-gray;
        transition: $transition;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $white;
        width: clamp(36px, 2.5vw, 64px);
        height: clamp(36px, 2.5vw, 64px);
        border-radius: $br-8;
        background: $dark-gray;
        float: left;
        transition: $transition;
        font-family: $font-sec;
        font-size: clamp(16px, 0.938vw, 22px);
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21.6px */
        @include media-query(399px){
          font-size: 14px;
        }

        svg {
          path {
            stroke: $white;
            transition: $transition;
          }
        }

        &.active {
          background-color: $accent-1;
          color: $white;
          border: 1px solid $accent-1;

          svg {
            path {
              stroke: $white;
              transition: $transition;
            }
          }
        }

        &:hover {
          background-color: $accent-1;
          color: $white;
          border: 1px solid $accent-1;

          svg {
            path {
              stroke: $white;
              transition: $transition;
            }
          }
        }
      }

      &:hover {
        span {
          color: $white;
          transition: $transition;
        }
      }
    }
  }
}
