.hero-banner{
    background-color:$white-2 ;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: grid;
    align-items: center;
    @include media-query(1600px){
        height: auto;
    }
    @include media-query(1199px){
        height: auto;
    }
    .banner-block {
        margin: clamp(200px, 11.021vw, 300px) 0px;
        @include media-query(1600px){
            margin: clamp(88px, 10.021vw, 300px) 0px;
        }
        @include media-query(1199px){
            margin: clamp(107px, 13.021vw, 300px) 0px;
        }
        @include media-query(768px){
            margin-bottom: 0;
        }
        .heading-block{
        @include media-query(576px){
            display: none !important;
        }
        }
        .banner-img{
            width: clamp(100px,7.292vw,180px);
        }
        .left-block{
        position: relative;
        .graph-1{
            @include media-query(576px){
                display: none;
            }
        }
        .graph-2{
            display: none;
            @include media-query(576px){
                display: block;
            }
            @include media-query(430px){
                width: clamp(386px,25vw,500px);
            }
        }
            .block {
                display: flex;
                align-items: flex-start;
                gap: clamp(80px, 5.677vw, 140px);
                position: relative;
                padding-top: 158px;
                @include media-query(430px){
                    gap: clamp(35px, 5.677vw, 140px);   
                }
                @include media-query(399px){
                    gap: clamp(27px, 5.677vw, 140px);   
                }
                .block-1 {
                    position: relative;
                    width: 81%;
                    .line-dot {
                        position: absolute;
                        left: 10px;
                        bottom: 100%;
                        width: 3px;
                        height: clamp(100px, 7.396vw, 300px);
                        background: $accent-1;
                        @include media-query(1600px) {
                            bottom: 153px;
                        }
                        @include media-query(1400px) {
                            bottom: 163px;
                        }
                        @include media-query(1200px) {
                            bottom: 141px;
                        }
                        @include media-query(1024px) {
                            bottom: 124px;
                        }
                        @include media-query(992px) {
                            bottom: 117px;
                        }
                        @include media-query(490px) {
                            bottom: 131px;
                        }
                        .dot {
                            position: absolute;
                            left: -2.5px;
                            top: -4px;
                            width: 9.17px;
                            height: 20px;
                            border: 2px solid $accent-1;
                            border-radius: 100%;
                            background-color: $accent-2;
                            @include media-query(1200px){
                                left: -3.5px;
                            }
                        }
                    }
        
                    .text-block {
                        position: relative;
                        @include media-query(1600px) {
                         bottom: 16px;
                        }
                        @include media-query(1400px) {
                            top: -28px;
                        }
                        @include media-query(1400px) {
                            top: -31px;
                        }
                        @include media-query(1200px) {
                            p{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                line-clamp: 3;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
                .block-2 {
                    position: relative;
                    width: 80%;
        
                    .line-dot {
                        position: absolute;
                        left: 10px;
                        bottom: 98%;
                        width: 3px;
                        height: clamp(140px, 9.375vw, 300px);
                        background: $accent-1;
                        @include media-query(1600px) {
                            bottom: 131px;
                        }
                        @include media-query(1400px) {
                            bottom: 158px;
                        }
                        @include media-query(1200px) {
                            bottom: 131px;
                        }
                        @include media-query(992px) {
                            bottom: 124px;
                        }
                        @include media-query(399px) {
                            bottom: 120px;
                            height: clamp(130px, 9.375vw, 300px);
                        }
                        .dot {
                            position: absolute;
                            left: -2.5px;
                            top: -4px;
                            width: 9.17px;
                            height: 20px;
                            border: 2px solid $accent-1;
                            border-radius: 100%;
                            background-color: $accent-2;
                            @include media-query(1200px) {
                               left: -2.5px;
                            }
                            @include media-query(768px){
                                left: -3.5px;
                            }
                        }
                    }
                    .text-block {
                        position: relative;
                        @include media-query(1600px) {
                            bottom: 15px;
                        }
                        @include media-query(1400px) {
                            bottom: 28px;
                        }
                        @include media-query(1200px) {
                            p{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                line-clamp: 3;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
                .block-3 {
                    position: relative;
                    width: 80%;
                    .line-dot {
                        position: absolute;
                        left: 10px;
                        bottom: 97%;
                        width: 3px;
                        height: clamp(350px, 22.135vw, 550px);
                        background: $accent-1;
                        @include media-query(1600px) {
                            height: clamp(256px, 22.135vw, 550px);
                            bottom: 130%;
                        }
                        @include media-query(1400px) {
                            height: clamp(326px, 22.135vw, 550px);
                            bottom: 124%;
                        }
                        @include media-query(1200px) {
                            height: clamp(283px, 22.135vw, 550px);
                            bottom: 140%;
                        }
                        @include media-query(1024px) {
                            height: clamp(400px, 22.135vw, 550px);
                            bottom: 140%;
                        }
                        @include media-query(992px) {
                            height: clamp(390px, 22.135vw, 550px);
                               bottom: 162%;
                        }
                        @include media-query(860px) {
                            height: clamp(371px, 22.135vw, 550px);
                            bottom: 140%;
                        }
                        @include media-query(820px) {
                            height: clamp(346px, 22.135vw, 550px);
                            bottom: 147%;
                        }
                        @include media-query(768px) {
                            height: clamp(341px, 22.135vw, 550px);
                            bottom: 140%;
                        }
                        @include media-query(576px) {
                            height: clamp(293px, 22.135vw, 550px);
                            bottom: 143%;
                        }
                        @include media-query(490px) {
                            height: clamp(266px, 22.135vw, 550px);
                            bottom: 143%;
                        }
                        @include media-query(430px) {
                            height: clamp(233px, 22.135vw, 550px);
                            bottom: 142%;
                        }
                        .dot {
                            position: absolute;
                            left: -3.5px;
                            top: -4px;
                            width: 9.17px;
                            height: 20px;
                            border: 2px solid $accent-1;
                            border-radius: 100%;
                            background-color: $accent-2;
                            @include media-query(992px){
                            left: -2.5px;
                        }
                        @include media-query(768px){
                            left: -3.5px;
                        }
                        @include media-query(430px){
                            left: -3.5px;
                        }
                    }
                    }
                    .text-block {
                        position: relative;
                        @include media-query(1600px) {
                            bottom: 21px;
                        }
                        @include media-query(1400px) {
                            bottom: 28px;
                        }
                        @include media-query(1200px) {
                            p{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                line-clamp: 3;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
            .income-block {
                position: absolute;
                top: clamp(26px,2.083vw,55px);
                left: clamp(14px,0.885vw,24px);
                border-radius: $br-8;
                border: 0.5px solid $accent-1;
                background: $accent-1;
                padding: clamp(8px, 0.625vw, 16px);
                display: flex;
                align-items: center;
                gap: clamp(8px, 0.625vw, 12px);
                .img-money {
                    background-color: $accent-2;
                    border-radius: $br-8;
                    padding: clamp(4px, 0.313vw, 8px);
                }
                @include media-query(1024px){
                    top: 6.25vw;
                }
                @include media-query(840px){
                    top: 3.75vw;
                }
                @include media-query(768px){
                    top: 10.99vw;
                }
                @include media-query(576px){
                    display: none;
                }
            }
        }
    }
}
.hero-banner-2{
    background: url('../media/backgrounds/header.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    position: relative;
    @include media-query(1600px){
        height: auto;
    }
    @include media-query(1024px){
        height: auto;
    }
    .banner-block {
        margin: clamp(200px, 13.021vw, 300px) 0px;
        @include media-query(1024px){
            margin: clamp(120px, 13.021vw, 300px) 0px; 
        }
        form {
            position: relative;
            width: 26.042vw;
            @include media-query(1200px) {
                width: 29.042vw;
            }
            @include media-query(1024px) {
                width: 45%;
            }
            @include media-query(576px) {
                width: 62%;
            }
            @include media-query(490px) {
                width: 100%;
            }
            input{
             background:none;
             padding: clamp(30px,2.5vw,30px);   
             border-radius: $br-16;  
             border: 0.5px solid $lightest-gray;  
             &::placeholder {
                 color: $lightest-gray;   
                 font-family: $font-sec;
                 font-size: clamp(15px, 0.938vw, 25px);//18px
                 font-style: normal;
                 font-weight: 400;
                 line-height: 160%; 
            }
        }
            button{
                border: none;
                background: $accent-1;
                position: absolute;
                right: 8px;
                padding: clamp(12px,0.833vw,20px) clamp(22px,1.667vw,40px);
                border-radius: $br-16;
                @include media-query(1599px) {
                    padding: 13px 24px;
                }
                @include media-query(1200px) {
                    right: 10px;
                }
                @include media-query(1024px) {
                    right: 15px;
                }
                @include media-query(576px) {
                   right: 15px;
                }
                @include media-query(490px) {
                    padding: 14px 24px;
                    position: absolute;
                    top: 15px;
                    right: 28px;
                    @include media-query(450px){
                        top: 15px;
                    right: 13px;
                    }
                }
            }
        }
        .left-block{
            .line-block{
        }
        }
    }
}